<%- include('partials/header') %>
<%- include('partials/navbar') %>
Have a list of joined companies
Go back to basic dashboard
<%= cName %>

<a href='<%='/dashboard/company/'  + cid + '/createjoin'%>' class="btn btn-info">Create a join link</a>

<%- include('partials/footer') %>
