<%- include('partials/header') %>
<%- include('partials/navbar') %>
<% if (posiMsg){ %>
<%= posiMsg %>
<% } %>
Have a list of joined companies
Go back to basic dashboard
<%= cName %>

<% if (power == 1 || power == 2){%>
<a href='<%='/dashboard/company/'  + cid + '/createjoin'%>' class="btn btn-info">Create a join link</a>
<a href='<%='/dashboard/company/'  + cid + '/verify'%>' class="btn btn-info">Verify Links</a>
<% } %>
<a href='<%='/announcements/'  + cid %>' class="btn btn-info">View Announcements</a>
<a href='<%='/employees/'  + cid %>' class="btn btn-info">View Employees</a>
<%- include('partials/footer') %>
