<%- include('partials/header') %>
<%- include('partials/navbar') %>
<% if (posiMsg){ %>
<%= posiMsg %>
<% } %>
<h1><%= cName %></h1>

<div class="bodyText">

<% if (power == 1 || power == 2){%>
<h2> Handling Join Links </h2>
<% if (thoseWhoNeedVerification == 0){ %>
  Currently, no employees need verification.
  <% } else if (thoseWhoNeedVerification == 1){ %>
    There is 1 employee who needs verification.
    <% } else { %>
      There are <% thoseWhoNeedVerification %> employees who need verification.
  <%  } %>
<br><br>
  <a href='<%='/dashboard/company/'  + cid + '/createjoin'%>' class="btn btn-info">Create a join link</a>
  <a href='<%='/dashboard/company/'  + cid + '/verify'%>' class="btn btn-info">Verify Links</a>
<% } %>
<h2> Announcements </h2>
<% if (!announcements || announcements.length == 0){ %>
  There are no announcements to show.
<% } else {%>


  <% for(let t = 0; t < announcements.length; t++){ %>
  <div class="row" style="width:100%">
    <div class="card" style="text-align:center; background-color:tan; padding: 10px">
      <div class="card-header">
        <h4><%= announcements[t].title %></h4>
        ID: <a href=<%="/announcement/" + announcements[t].id %> ><%= announcements[t].id %></a><br>
        From: <%= announcements[t].firstName + ' ' + announcements[t].lastName %><br>
        Date: <%= announcements[t].recency %>
      </div>
      <div class="card-body">
        <p class="lead"> <%= announcements[t].content %></p>
      </div>
    </div>
  </div>
  <% } %>














<% } %>
<br>
<a href='<%='/announcements/'  + cid %>' class="btn btn-info">View All Announcements</a><br>
<h2> Employees </h2>
<a href='<%='/employees/'  + cid %>' class="btn btn-info">View Employees</a><br>


</div>

<%- include('partials/footer') %>
