<%- include('partials/header') %>
<%- include('partials/navbar') %>
<% if (errorMsg){ %>
<%= errorMsg %>
<% } %>
<% if (posiMsg){ %>
<%= posiMsg %>
<% } %>

<%= cName %>

<form action='<%= '/dashboard/company/' + cid + "/createjoin" %>' method='POST'>
  <input type='hidden' id='cName' value=<%= cName %> >
  <h4> Create a code that will allow users to join your company. </h4>
  Automatic Verification?
  <label class="switch">
    <input type="checkbox" id="toggs" onclick="javascript:joinLinkToggle()">
    <span class="slider round"></span>
  </label>
  <br>
  <div id='descriptor'>The joiner will need to be manually verifed after using the join link.</div>
    <input type="hidden" id='toggler' name="toggler" value="no">
  <br>
  Only Works Once?
  <label class="switch">
    <input type="checkbox" id="toggs2" onclick="javascript:joinLinkToggle2()">
    <span class="slider round"></span>
  </label>
  <br>
  <div id='descriptor2'>Any number of employees can join using this code.</div>
  <input type="hidden" id='toggler2' name="toggler2" value="no">
  <button type="submit" class="btn btn-dark">Create Join Link</button>
</form>

<% if (joinCode) { %>
  <h3> Your join code is <%= joinCode %>. </h3>
<% } %>

<%- include('partials/footer') %>
