<%- include('partials/header') %>
<%- include('partials/navbar') %>
<% if (errorMsg){ %>
<%= errorMsg %>
<% } %>
<a href='/dashboard/create' class="btn btn-info">Create a Company Workspace</a>
<a href='/dashboard/join' class="btn btn-info">Join a Company Workspace</a>

<h3> Quick Switch to Company </h3>
<% if (empl){ %>
    <table class='table'>
      <thead>
        <tr>
          <th scope="col">Company ID</th>
          <th scope="col">Company Name</th>
          <th scope="col">Switch To</th>
          </tr>
        </thead>
        <tbody>
  <% for (let f = 0; f < empl.length; f++){ %>
    <tr>
      <th scope="col"> <%= empl[f].companyID %> </th>
      <td scope="col"> <%= empl[f].title %> </td>
      <td scope="col">
        <a href='<%='/dashboard/company/'  + empl[f].companyID%>' class="btn btn-info">Switch To Company</a>
       </td>
      </tr>

<%} %>
</tbody>
</table>
<% } else { %>
    You need to join a company for this feature to work.
<% } %>

<%- include('partials/footer') %>
