<%- include('partials/header') %>
<%- include('partials/navbar') %>

<% if (errorMsg){ %>
<%= errorMsg %>
<% }else if (self){ %>
<h2> <%= profile[0].firstName + ' ' + profile[0].lastName %>'s Profile </h2>
<h3> User Information </h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> User ID </th>
      <th scope="col"> Name </th>
      <th scope='col'> Email </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col"> <%= profile[0].userID %> </th>
      <th scope="col"> <%= profile[0].firstName + ' ' + profile[0].lastName %> </th>
      <th scope='col'> <%= profile[0].email %> </th>
    </tr>
  </tbody>
</table>
<h3> Associated Companies </h3>
<% if (data.length > 0){%>
<table class="table">
  <thead>
    <th scope="col"> Company ID </th>
    <th scope="col"> Company Name </th>
    <th scope="col"> Title </th>
    <th scope="col"> Site Hierarchy </th>
    <th scope="col"> Change Title </th>
    <th scope="col"> Leave Company </th>
    <th scope="col"> Destroy Company </th>
  </thead>
  <tbody>
    <% for(let x = 0; x < data.length; x++){%>
    <tr>
      <th scope="col"> <%= data[x].companyID  %> </th>
      <th scope="col"> <%= data[x].cName %> </th>
      <th scope="col"> <%= data[x].title %> </th>
      <th scope="col">
        <% if (data[x].power == 0){ %>
        Employee
        <% } else if (data[x].power == 1){ %>
        Admin
        <% } else if (data[x].power == 2) {  %>
        Owner
        <% } %>
      </th>
      <th scope="col">
        <% if (data[x].power > 0){ %>
        <a href='javascript:openChangeTitleBox(<%= data[x].userID %>,<%=data[x].companyID %>,<%= x %>)'> Change Title? </a>
        <% } else {%>
        Not Available to Regular Employees.
        <% } %>
      </th>
      <th scope="col"> Leave Company? </th>
      <th scope="col"> Destroy Company? </th>
    </tr>
    <tr>
      <th class='rows' id='<%= 'row' + x %>' style='display:none'>
        <div class='menuBox' id='<%= "menuBox" + x %>'>
        </div>
      </th>
    </tr>
    <% } %>
  </tbody>
</table>
<% } else { %>
There are no companies assoicated with this profile.
<% }%>

<% } else if (!self){ %>
<h2> <%= data[0].firstName + '  '+ data[0].lastName %>'s Profile </h2>
<h3> User Information </h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> Company ID </th>
      <th scope="col"> Company Name </th>
      <th scope="col"> Title </th>
      <th scope="col"> Site Hierarchy </th>
      <th scope="col"> Change Title </th>
      <th scope="col"> Change Hierarchy </th>
      <th scope="col"> Confer Ownership </th>
      <th scope="col"> Remove from Company </th>
    </tr>
  </thead>
  <tbody>
    <% for (let g = 0; g < data.length; g++){ %>
    <tr>
      <th scope="col"> <%= data[g].companyID %> </th>
      <th scope="col"> <%= data[g].cName %> </th>
      <th scope='col'> <%= data[g].eTitle %> </th>
      <th scope='col'>
        <%if (data[g].ePower == 0){ %>
        Employee
        <% } else if (data[g].ePower == 1){ %>
        Admin
        <% }else{ %>
        Owner
        <% } %>
      </th>
      <th scope='col'>
        <% if (data[g].myPower > 0){ %>
        <a href='javascript:openChangeTitleBox(<%= data[g].eID %>,<%=data[g].companyID %>,<%= g %>)'> Change Title? </a>
        <% } else {%>
        Not Available <br> to Regular Employees.
        <% } %>
      </th>
      <th scope='col'>
        <% if (data[g].myPower > 1){ %>
        <a href='javascript:openChangeHierarchyBox(<%= data[g].eID %>,<%=data[g].companyID %>,<%= data[g].ePower %>,<%= g %>)'> Change Hierarchy? </a>
        <% } else {%>
        Not Available to Regular Employees.
        <% } %>
      </th>
      <th scope='col'> Confer Ownership </th>
      <th scope='col'>
        <% if(  (data[g].myPower > 1 && data[g].ePower == 0)   || (data[g].myPower == 2)){  %>
          <a href='javascript:openRemoveFromCompanyBox(<%= data[g].eID %>,<%=data[g].companyID %>,<%= g %>)'> Remove From Company? </a>

        <%} else { %>
        Not Available <br> to your Hierarchy
        <% } %>
      </th>
    </tr>
    <tr>
      <th class='rows' id='<%= 'row' + g %>' style='display:none'>
        <div class='menuBox' id='<%= "menuBox" + g %>'>
        </div>
      </th>
    </tr>
    <% } %>

  </tbody>
</table>
<% } %>
<%- include('partials/footer') %>
