<%- include('partials/header') %>
<%- include('partials/navbar') %>


<div class="bodyText">

<% if (cond === "Y"){ %>
<h2> Events for the Year of <%= condtext %></h2>
<% } %>
<% if (cond === "M"){ %>
<h2> Events for the Month of <%= condMonth %>, <%= condtext %></h2>
<% } %>
<% if (cond === "D"){ %>
<h2> Events for <%= condMonth %> <%= condDay%>, <%= condtext %></h2>
<% } %>

<% if (data.length == 0){ %>
  There are no events to display.
  <% } %>

<% for (let x = 0; x < data.length; x++){ %>
<div class="card">
  <div class="card-header">
    ID: <%= data[x].id  %><br>
    <%= data[x].title %><br>
    Written By: <%= data[x].firstName %>
    <% if (data[x].forma === "PERSONAL"){ %>
    , Addressed to Self
    <% } else if (data[x].forma === "SELF"){ %>
    of <%= data[x].cName %>, Addressed to Self
    <% } else if (data[x].forma === "ADMINS"){ %>
    of <%= data[x].cName %>, Addressed to Admins and Owner
    <% } else if (data[x].forma === "COMPANY"){ %>
    of <%= data[x].cName %>, Addressed to the Company
    <% } %>
    <br>
    From <%= data[x].startDate %> to <%= data[x].endDate %>
  </div>
  <div class="card-body">
    <%= data[x].content %>
  </div>
</div>
<% } %>

</div>

<%- include('partials/footer') %>
