<%- include('partials/header') %>
<%- include('partials/navbar') %>
<%- include('partials/returnCompany') %>

<h2>Verification</h2>
<div class="bodyText">
<h4>Employee verification</h4>
<% if (ndAppr && ndAppr.length > 0){ %>
<table class='table'>
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope='col'>Email</th>
      <th scope='col'>Link Used</th>
      <th scope='col'>Date Created</th>
      <th scope='col'>Accept User</th>
      <th scope='col'>Decline User</th>
    </tr>
  </thead>
  <tbody>
    <% for (var r = 0; r < ndAppr.length; r++){%>
    <tr>
      <th scope="col"> <%= ndAppr[r].userID %> </th>
      <td scope="col"> <%= ndAppr[r].firstName %> </td>
      <td scope="col"> <%= ndAppr[r].lastName %> </td>
      <td scope="col"> <%= ndAppr[r].email %> </td>
      <td scope="col"> <%= ndAppr[r].link %> </td>
      <td scope="col"> <%= ndAppr[r].recency %> </td>
      <td scope="col">
        <form action='<%= '/dashboard/company/'+ cid  + /verify/%>' method='POST'>
          <input type='hidden' name='code' value='<%= ndAppr[r].userID %>'>
          <input type='hidden' name='contract' value='adduser'>
          <button type="submit" class="btn btn-light">Add User</button>
        </form>
      </td>
      <td scope="col">
        <form action='<%= '/dashboard/company/'+ cid  + /verify/%>' method='POST'>
          <input type='hidden' name='code' value='<%= ndAppr[r].userID %>'>
          <input type='hidden' name='contract' value='deluser'>
          <button type="submit" class="btn btn-light">Delete User</button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<% } else {%>
There are no employees that need verification.
<% } %>
<h4>Join Links</h4>
<% if (links && links.length > 0){ %>
<table class='table'>
  <thead>
    <tr>
      <th scope="col">Link</th>
      <th scope="col">Automatic Verification?</th>
      <th scope="col">Only Works Once?</th>
      <th scope='col'>Currently Active?</th>
      <th scope='col'>Date Created</th>
      <th scope='col'>Delete Column</th>
    </tr>
  </thead>
  <tbody>
    <% for (var r = 0; r < links.length; r++){%>
    <tr>
      <th scope='row'><%=links[r].link%></th>
      <td scope="col"> <%= (links[r].verify == 1 ? 'No' : 'Yes') %></td>
      <td scope="col"> <%= (links[r].oneoff == 1 ? 'Yes' : 'No') %></td>
      <td scope="col"> <%= (links[r].isactive == 0 ? 'No' : 'Yes') %></td>
      <td scope="col"> <%= (links[r].recency) %></td>
      <td scope="col">
        <form action='<%= '/dashboard/company/'+ cid  + /verify/%>' method='POST'>
          <input type='hidden' name='code' value='<%= links[r].link %>'>
          <input type='hidden' name='contract' value='delink'>
          <button type="submit" class="btn btn-light">Delete Link</button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<% } else {%>
There are no associated join links.
<% } %>

</div>
<%- include('partials/footer') %>
